body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.mpqr-content {
  text-align: center;
}

.mpqr-qr-code {
  margin: 0 auto;
  width: 200px;
  height: 200px;
}
